
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<div class="col-md-9">
    <div class="sort-by d-flex mt-5 justify-content-between">
        <select name="sort" id="sort">
            <option value="grow"> sắp xếp tăng dần</option>
            <option value="grow"> sắp xếp giảm dần</option>
            <option value="grow"> sắp xếp theo giá tăng dần</option>
            <option value="grow"> sắp xếp theo giá giảm dần</option>
        </select>
        <div class="input-group mx-5">
            <div class="form-outline">
                <input type="search" id="form1" class="form-control" />
                <label class="form-label" for="form1">Search</label>
            </div>
            <button type="button" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>

        <div class="icon d-flex align-items-center" style="margin-right: 10px; cursor: pointer; opacity: 0.8;">
            <i class="fas fa-plus mx-3"></i>
            <i class="fas fa-trash-alt"></i>
        </div>
    </div>
    <table class="table align-middle my-3 table-striped table-hover" style="width: 100%;">
        <thead text-center>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">ID</th>
                <th scope="col">Danh mục</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Tùy chỉnh</th>
                <th scope="col">Xóa tất cả</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <th scope="row">1</th>
                <td>6</td>
                <td>No</td>
                <td>ĐẦM NGỦ CỰC NGON VÀ MÁTĐẦM NGỦ CỰC NGON VÀ MÁT</td>
                <td>1.990.999</td>
                <td><img src="//product.hstatic.net/1000358591/product/_lik8672__1__c64fdfdcefe844efaac3c430188325d9_grande.png" width="30px" alt="kh có ảnh"></td>
                <td><a href="@Url.Action("Index","NhaSanXuatAdmin")" class="text-body">sửa</a></td>
                <td>
                    <input type="checkbox">
                </td>
            </tr>
            <tr class="text-center">
                <th scope="row">1</th>
                <td>6</td>
                <td>No</td>
                <td>ĐẦM NGỦ CỰC NGON VÀ MÁT</td>
                <td>1.990.999</td>
                <td><img src="//product.hstatic.net/1000358591/product/_lik8672__1__c64fdfdcefe844efaac3c430188325d9_grande.png" width="30px" alt="kh có ảnh"></td>
                <td><a href="@Url.Action("Index","NhaSanXuat")" class="text-body">sửa</a></td>
                <td>
                    <input type="checkbox">
                </td>
            </tr>
            <tr class="text-center">
                <th scope="row">1</th>
                <td>6</td>
                <td>No</td>
                <td>ĐẦM NGỦ CỰC NGON VÀ MÁT</td>
                <td>1.990.999</td>
                <td><img src="//product.hstatic.net/1000358591/product/_lik8672__1__c64fdfdcefe844efaac3c430188325d9_grande.png" width="30px" alt="kh có ảnh"></td>
                <td><a href="@Url.Action("Index","NhaSanXuat")" class="text-body">sửa</a></td>
                <td>
                    <input type="checkbox">
                </td>
            </tr>
            <tr class="text-center">
                <th scope="row">1</th>
                <td>6</td>
                <td>No</td>
                <td>ĐẦM NGỦ CỰC NGON VÀ MÁT</td>
                <td>1.990.999</td>
                <td><img src="//product.hstatic.net/1000358591/product/_lik8672__1__c64fdfdcefe844efaac3c430188325d9_grande.png" width="30px" alt="kh có ảnh"></td>
                <td><a href="@Url.Action("Index","NhaSanXuat")" class="text-body">sửa</a></td>
                <td>
                    <input type="checkbox">
                </td>
            </tr>
            <tr class="text-center">
                <th scope="row">1</th>
                <td>6</td>
                <td>No</td>
                <td>ĐẦM NGỦ CỰC NGON VÀ MÁT</td>
                <td>1.990.999</td>
                <td><img src="//product.hstatic.net/1000358591/product/_lik8672__1__c64fdfdcefe844efaac3c430188325d9_grande.png" width="30px" alt="kh có ảnh"></td>
                <td><a href="@Url.Action("Index","NhaSanXuat")" class="text-body">sửa</a></td>
                <td>
                    <input type="checkbox">
                </td>
            </tr>
            <tr class="text-center">
                <th scope="row">1</th>
                <td>6</td>
                <td>No</td>
                <td>ĐẦM NGỦ CỰC NGON VÀ MÁT</td>
                <td>1.990.999</td>
                <td><img src="//product.hstatic.net/1000358591/product/_lik8672__1__c64fdfdcefe844efaac3c430188325d9_grande.png" width="30px" alt="kh có ảnh"></td>
                <td><a href="@Url.Action("Index","NhaSanXuat")" class="text-body">sửa</a></td>
                <td>
                    <input type="checkbox">
                </td>
            </tr>
            <tr class="text-center">
                <th scope="row">1</th>
                <td>6</td>
                <td>No</td>
                <td>ĐẦM NGỦ CỰC NGON VÀ MÁT</td>
                <td>1.990.999</td>
                <td><img src="//product.hstatic.net/1000358591/product/_lik8672__1__c64fdfdcefe844efaac3c430188325d9_grande.png" width="30px" alt="kh có ảnh"></td>
                <td><a href="@Url.Action("Index","NhaSanXuat")" class="text-body">sửa</a></td>
                <td>
                    <input type="checkbox">
                </td>
            </tr>
            <tr class="text-center">
                <th scope="row">1</th>
                <td>6</td>
                <td>No</td>
                <td>ĐẦM NGỦ CỰC NGON VÀ MÁT</td>
                <td>1.990.999</td>
                <td><img src="//product.hstatic.net/1000358591/product/_lik8672__1__c64fdfdcefe844efaac3c430188325d9_grande.png" width="30px" alt="kh có ảnh"></td>
                <td><a href="@Url.Action("Index","NhaSanXuat")" class="text-body">sửa</a></td>
                <td>
                    <input type="checkbox">
                </td>
            </tr>



        </tbody>
    </table>
</div>

<div class="container d-flex justify-content-center my-5">
    <nav aria-label="Page navigation d-flex justify-content-center">
        <!-- <h1>hello</h1> -->
        <ul class="pagination" id="pagination"></ul>
    </nav>
</div>
<script type="text/javascript">
      $(function () {
          window.pagObj = $('#pagination').twbsPagination({
              totalPages: 35,
              visiblePages: 10,
              onPageClick: function (event, page) {
                  console.info(page + ' (from options)');
              }
          }).on('page', function (event, page) {
              console.info(page + ' (from event listening)');
          });
      });
</script>

